.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 50;
}

.logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
}

.social-icons {
  display: flex;
}

.mobile-nav{
    background: #2e2a2af6;
}

.lo{
     background: #0000008d;
    }

/* Mobile Menu */
@media (max-width: 1024px) {
  .nav-links,
  .social-icons {
    display: none;
  }

  /* The mobile menu is hidden by default */
  .mobile-menu {
    display: none;
  }
}
