<nav class="navbar w-full fixed top-0 left-0 flex justify-between items-center px-6 py-4 bg-black z-50">
    <div class="logo">
      <p class="text-3xl font-bold text-white">Lucas HooD</p>
    </div>
    <ul class="nav-links flex space-x-8 font-semibold text-white">
      <li><a href="#" class="hover:text-gray-400">About</a></li>
      <li><a href="#" class="hover:text-gray-400">Contact</a></li>
      <li><a href="#" class="hover:text-gray-400">Skills</a></li>
    </ul>
    <div class="social-icons flex space-x-8 gap-5">
      <a href="#"><img src="../../assets/images/github.png" alt="GitHub" class="h-6"></a>
      <a href="#"><img src="../../assets/images/lin.png" alt="LinkedIn" class="h-6"></a>
      <a href="#"><img src="../../assets/images/fb.png" alt="Facebook" class="h-6"></a>
    </div>
  </nav>
  