.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.066);
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 1.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    /* font-weight: bold; */
  }
  
  .nav-links a:hover {
    color: gray;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-left: 1rem;
  }
  
  .social-icons img {
    height: 30px;
  }
  
  .social-icons a:hover img {
    filter: brightness(70%);
  }
  