<section class="text-gray-400 body-font">
    <div class="container px-10 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <!-- Card template generated dynamically using *ngFor -->
        <div *ngFor="let card of cardsData" class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden transition-transform duration-300 ease-in-out transform hover:scale-105">
            <img alt="ecommerce" class="object-contain object-center w-full h-full block" [src]="card.imgSrc" />
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ card.category }}</h3>
            <h2 *ngIf="card.title" class="text-white title-font text-lg font-medium">{{ card.title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  