<section class="text-gray-400 body-font">
    <div class="container px-10 py-24 mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4  items-center justify-center">
        <!-- Card template generated dynamically using *ngFor -->
        <div *ngFor="let card of cardsData" class="border-2 border-dashed rounded overflow-hidden">
          <a class="block relative h-48 rounded overflow-hidden transition-transform duration-300 ease-in-out transform hover:scale-105">
            <img alt="ecommerce" class="object-contain object-center w-full h-full block p-8" [src]="card.imgSrc" />
          </a>
          
        </div>
      </div>
    </div>
  </section>
  